# Własność root, chmod 0600. Wstaw endpoint i region swojego bucketa B2.
RESTIC_REPOSITORY=s3:s3.<region>.backblazeb2.com/<bucket>/propertyapp-restic
RESTIC_PASSWORD_FILE=/etc/propertyapp-offsite/b2.password
AWS_ACCESS_KEY_ID=<s3_application_key_id>
AWS_SECRET_ACCESS_KEY=<s3_application_key>
AWS_DEFAULT_REGION=<region>
